@media screen and (max-width: 1199px){
    body{
        width: 1199px;
    }
 }

@media screen and (max-width: 991px){
    body{
        width: 991px;
    }
 }

@media screen and (max-width: 767px){
    body{
        width: 767px;
    } 
}

@media screen and (max-width: 575px){
    body{
        width: 575px;
    }
}


*{
    margin: 0px;
    padding: 0px;
}

html,
body{
    height: 100%;
    width: 100%;
}
body{
    color: #FFFFFF;
    background-color: rgb(79,67,79);
    margin-top: 125px;
    margin-bottom: 70px;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    height: 125px;
    width: 100%;
    background-color: rgb(250,154,96);
    color: #FFFFFF;
    
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px #1d0a0a;
}

.header-logo{
    margin-top: 25px;
    margin-left: 15%;
    position: relative;
    min-width: 80px;
}
.logo{
    border-radius: 10%;
}

nav{
    margin-left: 40%;
    width: 60px;
}
.links{
    margin-top: 45px;
    width: 100%;
    list-style-type: none;
    display: flex;
    right: 10%;
    float: right;
}

.link a{
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #ffffff;
}

ul li::marker{
    color: rgb(250,154,96);
    font-size: 2rem;
}

.main{
    border: 2px ridge rgb(250,154,96);
    border-radius: 20px;
    padding-top: 20px;

    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: rgb(56,47,56);


    flex: 1 0 auto;
}

.footer {
    height: 70px;
    background-color: rgb(56, 56, 56);
    flex: 0 0 auto;

}
footer p, .mail{
    color: rgb(190, 190, 190);
    text-indent: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    margin-left: 40px;
}

h1{
    margin-bottom: 15px;
}

h3{
    margin-top: 45px;
}

p{
    color: #FFFFFF;
    text-indent: 20px;

    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.list{
    margin-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
    background: #FFFFFF;

    border-radius: 40px 0px 40px 0px;
    box-shadow: 0 0 10px rgb(250,154,96);
}

.arrow-up{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
    background: #FFFFFF;

    border-radius: 50%;
    box-shadow: 0 0 50px #fdbbbb;
}

.block{
    margin-top: 45px;
}

.rightimg{
    max-width: 700px;
    min-width: 350px;
    width: 45%;
    float: right;
    border: 2px ridge rgb(250,154,96);
    margin: 7px 0 7px 7px;
}
a{
    color: rgb(250,154,96);
}
hr{
    margin-top: 30px;
}

h1, h2, h3{
    color: rgb(250,154,96);
}